streamlit==1.32.0
yfinance==0.2.31
pandas==2.1.4
numpy==1.26.2
matplotlib==3.8.2
mplfinance==0.12.10b7
seaborn==0.13.0
pytz==2023.3.post1
python-dateutil==2.8.2
requests==2.31.0
plotly==5.18.0